* {
  padding: 0px;
  margin: 0px;
}

:root {
  --color1: rgb(240, 255, 240);
  --color2: rgb(230, 223, 223);
  --color3: rgb(109, 116, 180);
  --color99: rgb(61, 58, 58);
}

body {
  background-color: var(--color1);
  border: 1px solid black;
}

header {
  width: 100%;
  background-color: var(--color3);
}

/* nav {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 20px;
} */

section, nav {
  width: 90%;
  min-width: 480px;
  max-width: 1000px;
  min-height: 400px;
  margin: 0 auto;
  border: 1px solid black;
}

#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#projects {
  background-color: var(--color2);
}

#projects-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border: 10px solid pink;
}

.project {
  border: 1px solid red;
  height: 100px;
}

footer {
  width: 100%;
  background-color: var(--color3);
  text-align: center;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

#img1 {
  min-width: 200px;
  min-height: 350px;
  border: 1px solid pink;
}