* {
  padding: 0px;
  margin: 0px;
}

:root {
  --color1: rosybrown;
}

body {
  background-color: var(--color1);
  border: 1px solid black;
}

h1 {
  color: rgb(81, 81, 161);
}

nav {
  background-color: gray;
  font-size: 0;
}

nav li {
  list-style-type: circle; 
  display: inline; 
  padding: 20px;
  margin: 50px;
  background-color: yellow;
  font-size: 50px;
} 

a {
  background-color: chartreuse;
  /* border: 1px solid black; */
  font-size: 50px;
}
