* {
  padding: 0px;
  margin: 0px;
}

:root {
  --color1: rgb(240, 255, 240);
  --color2: rgb(230, 223, 223);
  --color3: rgb(109, 116, 180);
  --color99: rgb(61, 58, 58);
}

body {
  background-color: var(--color1);
  border: 1px solid black;
}

header {
  width: 100%;
  background-color: var(--color3);
}

nav {
  width: 600px;
  margin: 0 auto;
  font-size: 20px;
}

section {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid black;
}

#projects {
  background-color: var(--color2);
}

footer {
  width: 100%;
  background-color: var(--color3);
  text-align: center;
}

h1 {
  font-size: 25px;
}
